* {
    
    padding: 0;
    box-sizing: border-box;
}
body {
    background:linear-gradient(-45deg, blue, black,black);
    font-family: 'Poppins', sans-serif;
    position: relative;
    padding-bottom: 16em;
}
img {
    max-width: 100%;
    height: auto;
    border-radius: 50%;
}
/* Comienzo de media queries*/
/* Tamaño máximo desktop */
@media (min-width: 1024px) {
    img {
        max-width: 400px; 
    }
    footer {
        font-size: 16px;
        padding: 20px;
        max-width: 1024px;
        margin: 0 auto;
    }
    .carousel-control-prev, .carousel-control-next {
        position: absolute;
        margin-left: 20%;
        margin-right: 20%;
    }
}
/* Estilos para tablets (pantallas de 768px a 1024px) */
@media (max-width: 1024px) {
    img {
        max-width: 80%;
        height: auto;
    }

    .img_blog {
        justify-content: center;
    }

    .redes {
        width: 50px;
        height: 50px;
    }

    footer {
        font-size: 14px;
        padding: 18px;
    }
    .img-fixed-size {
        width: 80%;  
        height: auto;
    }
}
/* Estilos para celulares (pantallas menores a 768px) */
@media (max-width: 768px) {
    img {
        max-width: 100%;
        height: auto;
    }

    .img_blog {
        flex-direction: column;
        align-items: center;
    }

    .redes {
        width: 40px;
    }

    p {
        font-size: 14px;
        margin: 10px;
    }
    footer {
        font-size: 12px;
        padding: 15px;
    }
    .text_blog {
        max-width: 90%;
        padding: 10px;
        word-wrap: break-word;
        overflow: break-word;
    }
    .redes {
        width: 40px;
        height: 40px;
    }
    .carousel-control-prev, .carousel-control-next {
        position: absolute;
        margin-left: 0,5%;
        margin-right: 0,5%;
    }
    .container {
        width: 100%;
    }
}
.container {
    max-width: 100%; 
    width: 100%;
    margin: 0 auto;
    padding: 20px;
}
.redes {
     width: 60px;
     }
.logos_blog {
    width: 90px;
    height: 90px;
}
.container {
    background: rgba(255, 255, 255, 0.2);
    width:50%;
    margin: 0 auto;
    border-radius: 15px;
}
.social_box {
    border: 2px solid white;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    width: 60%;
    margin: auto;
    margin-bottom: 20px;
}
.carousel .carousel-inner img {
    border-radius: 0 !important;
    display: block;
    margin: 0 auto;
    object-fit: cover; 
    max-height: 500px; 
}