<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Musician Services | Daniel Rivero</title>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="../css/style.css">
</head>
<body>
    <header>
        <nav>
            <label for="" class="logo-nav">
                <img class="logo-nav" src="../assets/img/logo proyecto.jpg" alt="logo de la empresa">
            </label>
            <ul>
                <li><a href="../index.html">Home</a></li>
                <li><a href="#">Services</a></li>
                <li><a href="./about_me.html">About me</a></li>
                <li><a href="./blog.html">Blog</a></li>
                <li><a href="./contact.html">Contact Us</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <h1 class="followme">Professional Musician Services:</h1>
        <div class="logo">
            <img src="../assets/img/gobbi.jpg" alt="foto de hombre tocando la guitarra">
        </div>
        <h2 class="followme">Services Offered:</h2>
        <h4 class="followme">Live Session Musician Services:</h4>
        <ul>
            <li>Performance as a session musician for live gigs, concerts, and events.</li>
            <li>Versatility in various musical genres (Rock, Metal, Jazz, Blues, Classical, etc.).</li>
            <li>Collaborative performance with other musicians to deliver high-quality live shows.</li>
        </ul>
            <h4 class="followme">Recording Session Musician:</h4>
        <ul>
            <li>Professional guitar, bass, piano, drums and gutural vocals playing for studio recording sessions.</li>
            <li>Work with various styles: Electric, Acoustic, Fingerstyle, etc.</li>
            <li>Experience in recording for different formats (Albums, Singles, Commercials, Movie Scores).</li>
            <li>Ability to record guitar, bass, piano, drums and gutural vocals parts remotely for projects worldwide.</li>
        </ul>    
            <h4 class="followme">Guitar Lessons (Beginner to Advanced):</h4>
        <ul>
            <li>One-on-one and group guitar lessons tailored to students' goals.</li>
            <li>Covering various techniques: Strumming, Fingerpicking, Soloing, Chords, etc.</li>
            <li>Flexible lesson plans focusing on building solid fundamentals and expanding creativity.</li>
            <li>Exploration of different genres and styles, including Rock, Blues, Classical, Jazz, and Metal.</li>
        </ul>    
            <h4 class="followme">Music Theory Lessons for Beginners:</h4>
        <ul>
            <li>Introduction to basic music theory concepts (notes, scales, intervals, and chords).</li>
            <li>Understanding rhythm, time signatures, and dynamics.</li>
            <li>Practical application of theory to enhance musicianship and improvisation skills.</li>
            <li>Tools for writing and composing music.</li>
        </ul>
            <h4 class="followme">Practical Classes with Other Instruments:</h4>
        <ul>
            <li>Offering cross-instrumental lessons (drums, bass, keyboard) to enhance musical versatility.</li>
            <li>Learning the basics of each instrument to understand how they contribute to the overall sound of a band or recording.</li>
            <li>Group sessions with other musicians to foster collaboration and musical communication.</li>
        </ul>    
            <h4 class="followme">Home Studio Recording Knowledge (Basic Skills):</h4>
        <ul>
            <li>Guidance on setting up a basic home studio for recording.</li>
            <li>Introduction to essential recording equipment: microphones, audio interfaces, DAWs (Digital Audio Workstations), and headphones.</li>
            <li>Basic mixing and editing techniques for creating polished demos and recordings.</li>
            <li>Tips for capturing high-quality sound on a budget, including microphone placement and room acoustics.</li>
            <li>Step-by-step tutorials for recording guitar and vocals in a home studio.</li>
        </ul>
    </main>
    <footer class="footer">
        <p>2025 Daniel Rivero | All Rights Reserved</p>
    </footer>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>